@bw370: ~"(max-width: 369px)";
@bw400: ~"(max-width: 399px)";
@bw500: ~"(max-width: 499px)";
@bw600: ~"(max-width: 599px)";
@bw650: ~"(max-width: 649px)";
@bw700: ~"(max-width: 699px)";
@bw768: ~"(max-width: 767px)";
@bv960: ~"(min-width: 959px)";
@bw1020: ~"(max-width: 1019px)";
@w1020: ~"(min-width: 1020px)";

@bw1170: ~"(max-width: 1169px)";
@bw1340: ~"(max-width: 1339px)";
@bw1660: ~"(max-width: 1659px)";

@full-hd: ~"(min-width: 1920px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@landscapce: ~"(orientation: landscape)";

@landscapce-mobile: ~"(orientation: landscape) and (max-width: 767px)";

// Цветовая палитра
@white: #ffffff;
@black: #1F1E1E;

@red: #bc3324;
@red_dark: #a51505;

@grey: #6C6C6C;
@gray: #dedede;
@gray_dark: #bfbfbf;

// Шрифты
@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@font3: "mak", serif;