.article {
    &__content {
        box-sizing: border-box;
        
        &-title {
            font-family: @font1;
            font-size: 18px;
            font-weight: 700;
            align-items: center;
        }
    }
}