.article {

    &__container {
        box-sizing: border-box;
        margin-top: 113px;
    }

    &__content {
        box-sizing: border-box;
        margin-left: 289px;

        &-title {
            font-family: @font1;
            font-size: 18px;
            font-weight: 700;
            align-items: center;
            line-height: 100%;
            text-align: left;
        }

        &-text {
            font-family: @font1;
            font-weight: 400;
            max-width: 868px;
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            margin-top: 20px;
        }

        &--ordered-list {
            margin-top: 50px;
            width: 400px;
            font-size: 16px;
            line-height: 22px;
        }
        &--unordered-list {
            font-style: 16px;
        }

        ul,
        ol {
            position: relative;
            padding: 0;
            list-style: none;
            font-family: @font1;
            font-size: 16px;
        }

        ul>li {
            box-sizing: border-box;
            position: relative;
            padding-left: 20px;
            padding-right: 0;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 8px;
                left: 0;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: @red;
                pointer-events: none;
            }
        }

        ol {
            counter-reset: li;
            padding: 0;
        }

        ol > li {
            counter-increment: li;

            &::before {
                content: counter(li) + ". ";
                box-sizing: border-box;
                display: inline-block;
                min-width: 20px;
                color: @black;
                white-space: pre;
            }
        }

        ul > li,
        ol > li {
            margin: 0 0 8px;
            cursor: default;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}