.event {
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Центрирование блока */
    width: 100%;
    max-width: 1920px; /* Ограничение ширины */

    &__link-url {
        display: block;
        margin-top: 40px;
        margin-left: 293px;
        font-family: @font1;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    &__header {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: 38px;
        margin-left: 551px;
        font-size: 70px;
        font-family: @font2;
        font-weight: 500;
        width: 819px;
        height: 90px;
        line-height: 89.6px;
    }

    &__text {
        box-sizing: border-box;
        display: flex;
        margin-top: 80px;
        font-family: @font3;

        &-left {
            margin-top: 218px;
            margin-right: 58px;

            &-top {
                margin-left: 504px;
                font-size: 30px;
                font-weight: 300;
                line-height: 36px;

            }

            &-bottom {
                margin-left: 509px;
                font-size: 16px;
                font-weight: 700;
                line-height: 19.2px;
            }
        }

        &-right {
            margin-right: 473px;
            margin-top: 218px;
            margin-left: 60px;

            &-top {
                font-size: 30px;
                font-weight: 300;
                line-height: 36px;
            }

            &-bottom {
                font-size: 16px;
                font-weight: 700;
                line-height: 19.2px;
            }
        }
    }

    &__img {
        box-sizing: border-box;
        display: flex;
        top: 417px;
        left: 712px;
        width: 497px;
        height: 532px;

        &-major {
            width: 100%;
            height: 100%;
        }
    }
}