.home {
    padding: 100px 0;
    text-align: center;

    &__header {
        margin-bottom: 95px;
    }

    &__title,
    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: @font2;
        font-size: 45px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 0px;
    }

    &__subtitle {
        margin-top: 70px;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        margin-top: 70px;
    }


    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;

        &--text {
            font-family: @font2;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 0px;
            margin-bottom: 46px;
        }

        &--container {
            display: flex;
            justify-content: center;
            padding: 0;
            gap: 80px;
            width: 624px;
        }

        a {
            display: inline-block;
        }

    }

    &__section-title {
        font-family: @font2;
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: @black;
        color: @white;
        padding: 0;
        margin-top: 227px;
        display: inline-block;
        width: 624px;
        height: 62px;
        line-height: 62px;
        text-align: center;
    }

    &__project {
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1334px;
        height: 230px;
        margin: 0 auto;
        margin-top: 150px;

        &-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 473px;
            height: 60px;
            font-family: @font1;
            font-size: 44px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            margin-bottom: 50px;
        }

        &-description {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 867px;
            height: 75px;
            font-family: @font1;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            margin: 0;
        }
    }
}