.listing {
    .container;
    display: flex;
    flex-direction: column;

    &__article-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__events-list {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        @media bw1660 {
            gap: 40px;
        }
        @media bw1020 {
            gap: 30px;
        }
    }

    &__event-card {
        width: calc(33.333% - 40px);
        margin: 0 0 60px;
        @media bw1660 {
            width: calc(33.333% - 26.666%);
        }
        @media bw1020 {
            width: calc(50% - 15px);
        }
        @media bw650 {
            width: 100%;
        }
    }

    &__link {
        margin-top: 85px;
        margin-left: auto;
    }

    &__more-btn {
        margin: 70px auto 0;
    }

}
.show-more {
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 128px;
    height: 132px;
    margin: 0 auto; 
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 100px;

    &__text {
        font-family: @font1;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: @black;
        text-align: center;
    }

    &__icon {
        width: 60px;
        height: 91px;
        transition: filter 0.3s, background-color 0.3s;
    }

    &:hover {
        filter: brightness(0) saturate(100%) invert(27%) sepia(81%) saturate(748%) hue-rotate(353deg) brightness(91%) contrast(89%);
    }

    &:active {
        filter: none;
        background-color: @red; 
    }
}